.version.cas_club /* version checker */
{
	color: #000006;
	background-color: #F2A24F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 600px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u1213
{
	z-index: 8;
	min-height: 100px;
	position: fixed;
	top: -62px;
	left: 0px;
	width: 20.84%;
	max-width: 200px;
}

#ppu1227
{
	z-index: 0;
	margin-right: -10000px;
	margin-top: -65px;
	width: 102.82%;
}

#pu1227
{
	z-index: 2;
	width: 97.27%;
	left: 0%;
	margin-left: 0%;
}

#u1227
{
	z-index: 2;
	min-height: 182px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1227-bw
{
	z-index: 2;
	min-height: 182px;
	margin-top: 25px;
}

#u1198
{
	z-index: 7;
	width: 60px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 7.3%;
}

#u1474
{
	z-index: 9;
	height: 66px;
	position: relative;
	margin-right: -10000px;
	width: 20.84%;
	left: 21.25%;
}

#u3019
{
	z-index: 10;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	width: 100%;
}

#menuu98
{
	z-index: 43;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	width: 100%;
}

#u106
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
}

#u109
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u109:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u111-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u109:hover #u111-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u120
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 25%;
}

#u121
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u109.MuseMenuActive,#u121:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u121:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u124-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u109.MuseMenuActive #u111-4,#u121:hover #u124-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u121:active #u124-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u99
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 50%;
}

#u100
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u121.MuseMenuActive,#u100:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u100:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u103-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u121.MuseMenuActive #u124-4,#u100:hover #u103-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u100:active #u103-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u113
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 75%;
}

#u114
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u100.MuseMenuActive,#u114:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u114:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u114.MuseMenuActive
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u117-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u100.MuseMenuActive #u103-4,#u114:hover #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u114:active #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u114.MuseMenuActive #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u111-3,#u124-3,#u103-3,#u117-3
{
	margin-left: 6px;
	margin-right: 6px;
}

#u1167-4
{
	z-index: 12;
	min-height: 48px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 93.01%;
	left: 0%;
	margin-left: 2.23%;
}

#pbuttonu3097
{
	z-index: 69;
	margin-top: 28px;
	width: 25.64%;
	margin-left: 35.82%;
}

#buttonu3097
{
	z-index: 69;
	height: 55px;
	position: relative;
	margin-right: -10000px;
	width: 98.42%;
	margin-left: 0.8%;
	left: -1.5px;
}

#u3102-4
{
	z-index: 70;
	min-height: 24px;
	width: 49%;
}

#pbuttonu3097:hover #u3102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	min-height: 24px;
	width: 49%;
	left: 25.71%;
}

#pbuttonu3097.ButtonSelected #u3102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 49%;
}

#pbuttonu3097 #u3102-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 25.31%;
}

#u3098
{
	z-index: 74;
	width: 8.04%;
}

#pbuttonu3097:hover #u3098
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 8.04%;
	left: 46.19%;
}

#u3100
{
	z-index: 76;
	width: 8.04%;
}

#pbuttonu3097:hover #u3100
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 8.04%;
	left: 46.59%;
}

#pbuttonu3103
{
	z-index: 80;
	width: 25.64%;
	margin-left: 35.82%;
}

#buttonu3103
{
	z-index: 80;
	height: 55px;
	position: relative;
	margin-right: -10000px;
	width: 98.42%;
	margin-left: 0.8%;
	left: -1.5px;
}

#pbuttonu3097:hover #buttonu3097,#pbuttonu3103:hover #buttonu3103
{
	height: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.21%;
	margin-left: 0.4%;
	left: 0.5px;
}

#u3108-4
{
	z-index: 81;
	min-height: 24px;
	width: 76.31%;
}

#pbuttonu3103:hover #u3108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	min-height: 24px;
	width: 76.31%;
	left: 14.86%;
}

#pbuttonu3103.ButtonSelected #u3108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 76.31%;
}

#pbuttonu3103 #u3108-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 14.46%;
}

#u3106
{
	z-index: 85;
	width: 8.04%;
}

#pbuttonu3103:hover #u3106
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 8.04%;
	left: 46.19%;
}

#pbuttonu3097 #u3098,#pbuttonu3103 #u3106
{
	position: relative;
	margin-right: -10000px;
	left: 45.79%;
}

#u3104
{
	z-index: 87;
	width: 8.04%;
}

#pbuttonu3103:hover #u3104
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 8.04%;
	left: 46.59%;
}

#pbuttonu3097.ButtonSelected #u3098,#pbuttonu3097.ButtonSelected #u3100,#pbuttonu3103.ButtonSelected #u3106,#pbuttonu3103.ButtonSelected #u3104
{
	min-height: 0px;
	width: 8.04%;
}

#pbuttonu3097 #u3100,#pbuttonu3103 #u3104
{
	position: relative;
	margin-right: -10000px;
	left: 46.19%;
}

#u1170
{
	z-index: 16;
	height: 1px;
	border-color: #000000;
	background-color: #BEC3C3;
	margin-top: 138px;
	position: relative;
	width: 97.27%;
	left: 0%;
	margin-left: 0%;
}

#u3055-13
{
	z-index: 17;
	min-height: 89px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
	width: 92.91%;
	left: 0%;
	margin-left: 2.23%;
}

#u3066
{
	z-index: 30;
	height: 1px;
	border-color: #000000;
	background-color: #BEC3C3;
	margin-top: 31px;
	position: relative;
	width: 97.27%;
	left: 0%;
	margin-left: 0.11%;
}

#u3069-12
{
	z-index: 31;
	min-height: 153px;
	background-color: transparent;
	margin-top: 52px;
	position: relative;
	width: 93.12%;
	left: 0%;
	margin-left: 2.13%;
}

#u1163
{
	z-index: 90;
	min-height: 458px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 118px;
	position: relative;
	width: 93.01%;
	left: 0%;
	margin-left: 7%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1864px);
}

#u325-4
{
	z-index: 3;
	min-height: 25px;
	margin-bottom: -69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	width: 95.94%;
	left: 2.19%;
}

.html
{
	background-color: #F2F2F2;
}

body
{
	position: relative;
	min-width: 200px;
	padding-top: 40px;
	padding-bottom: 100px;
}

.verticalspacer
{
	min-height: 1px;
}

#u3019_img,#u3098_img,#u3100_img,#u3106_img,#u3104_img
{
	width: 100%;
}

