.version.index /* version checker */
{
	color: #000006;
	background-color: #7FD5A7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 600px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u1213
{
	z-index: 8;
	min-height: 100px;
	position: fixed;
	top: -62px;
	left: 0px;
	width: 20.84%;
	max-width: 200px;
}

#ppu1227
{
	z-index: 0;
	margin-right: -10000px;
	margin-top: -65px;
	width: 100.11%;
}

#pu1227
{
	z-index: 2;
	width: 99.9%;
}

#u1227
{
	z-index: 2;
	min-height: 182px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1227-bw
{
	z-index: 2;
	min-height: 182px;
	margin-top: 25px;
}

#u1198
{
	z-index: 7;
	width: 60px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 7.3%;
}

#u1474
{
	z-index: 9;
	height: 66px;
	position: relative;
	margin-right: -10000px;
	width: 20.84%;
	left: 21.25%;
}

#u3019
{
	z-index: 10;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	width: 100%;
}

#menuu98
{
	z-index: 38;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	width: 100%;
}

#u106
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
}

#u109
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u109:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u111-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u109:hover #u111-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u120
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 25%;
}

#u121
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u109.MuseMenuActive,#u121:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u121:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u124-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u109.MuseMenuActive #u111-4,#u121:hover #u124-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u121:active #u124-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u99
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 50%;
}

#u100
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u121.MuseMenuActive,#u100:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u100:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u103-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u121.MuseMenuActive #u124-4,#u100:hover #u103-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u100:active #u103-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u113
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 75%;
}

#u114
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u100.MuseMenuActive,#u114:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u114:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u114.MuseMenuActive
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u117-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u100.MuseMenuActive #u103-4,#u114:hover #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u114:active #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u114.MuseMenuActive #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u111-3,#u124-3,#u103-3,#u117-3
{
	margin-left: 6px;
	margin-right: 6px;
}

#pu322-4
{
	z-index: 12;
	margin-top: 10px;
	width: 52.87%;
	margin-left: 2.19%;
}

#u322-4
{
	z-index: 12;
	width: 425px;
	min-height: 33px;
	background-color: transparent;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u3015
{
	z-index: 37;
	min-height: 32px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 39.38%;
	left: 60.63%;
}

#u2980-4
{
	z-index: 33;
	min-height: 54px;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
	width: 95.63%;
	margin-left: 2.4%;
}

#u1119
{
	z-index: 63;
	height: 1px;
	border-color: #000000;
	background-color: #BEC3C3;
	margin-top: 13px;
	position: relative;
	width: 99.9%;
}

#u1123-7
{
	z-index: 16;
	min-height: 32px;
	background-color: transparent;
	margin-top: 36px;
	position: relative;
	width: 95.63%;
	margin-left: 2.09%;
}

#u1207
{
	z-index: 64;
	height: 1px;
	border-color: #000000;
	background-color: #BEC3C3;
	margin-top: 37px;
	position: relative;
	width: 99.9%;
	margin-left: 0.11%;
}

#u1210-10
{
	z-index: 23;
	min-height: 32px;
	background-color: transparent;
	margin-top: 36px;
	position: relative;
	width: 95.63%;
	margin-left: 2.19%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 723px);
}

#u325-4
{
	z-index: 3;
	min-height: 25px;
	margin-bottom: -69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	width: 95.94%;
	left: 2.19%;
}

.html
{
	background-color: #F2F2F2;
}

body
{
	position: relative;
	min-width: 200px;
	padding-top: 40px;
	padding-bottom: 100px;
}

.verticalspacer
{
	min-height: 16px;
}

#u3019_img
{
	width: 100%;
}

