#buttonu3097
{
	border-style: solid;
	border-color: #A67C52;
	background-color: #EDEDED;
	border-width: 0px 2px;
}

#u3102-4
{
	background-color: transparent;
	text-align: center;
}

#pbuttonu3097:hover #u3102-4 p,#pbuttonu3097:hover #u3102-4 span
{
	color: #2C2C2C;
	visibility: inherit;
}

#u3102-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#pbuttonu3097:hover #u3102-4 p
{
	color: #2C2C2C;
	visibility: inherit;
}

#u3098
{
	background-color: transparent;
}

#u3100
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pbuttonu3097:hover #u3100
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu3103
{
	border-style: solid;
	border-color: #ED1C24;
	background-color: #EDEDED;
	border-width: 0px 2px;
}

#pbuttonu3097:hover #buttonu3097,#pbuttonu3103:hover #buttonu3103
{
	border-width: 0px;
	border-color: transparent;
	background-color: #EDEDED;
}

#u3108-4
{
	background-color: transparent;
	text-align: center;
}

#pbuttonu3103:hover #u3108-4 p,#pbuttonu3103:hover #u3108-4 span
{
	color: #2C2C2C;
	visibility: inherit;
}

#u3108-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3102,#u3108
{
	font-size: 13px;
	color: #000000;
	line-height: 16px;
}

#pbuttonu3103:hover #u3108-4 p
{
	color: #2C2C2C;
	visibility: inherit;
}

#pbuttonu3097.ButtonSelected #u3102-4 p,#pbuttonu3097.ButtonSelected #u3102-4 span,#pbuttonu3097.ButtonSelected #u3102-4 p,#pbuttonu3103.ButtonSelected #u3108-4 p,#pbuttonu3103.ButtonSelected #u3108-4 span,#pbuttonu3103.ButtonSelected #u3108-4 p
{
	color: #000000;
	visibility: inherit;
}

#u3106
{
	background-color: transparent;
}

#u3104
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pbuttonu3103:hover #u3104
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pbuttonu3097.ButtonSelected #u3100,#pbuttonu3103.ButtonSelected #u3104
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}


