#u1474
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
}

#menuu98
{
	border-radius: 0px;
}

.Icona-Light---Main-Menu-Bar
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u109
{
	border-style: solid;
	border-bottom-width: 3px;
	border-color: #F7931E;
	background-color: #444444;
	border-radius: 0px;
}

#u109::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u109:hover
{
	background-color: #EAEAEA;
}

.Icona-Light---Menu-Button--Normal
{
	border-width: 0px;
	overflow: hidden;
	border-color: #000000;
	background-color: #EFEFEF;
}

.Icona-Light---Menu-Button--Normal::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: 0px;
	bottom: -2px;
	right: 0px;
	box-shadow: inset 2px 0px 2px rgba(255,255,255,0.04), inset -2px 0px 2px rgba(0,0,0,0.04);
}

#u1213,#u1227,#u1198,#u111-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u109:hover #u111-4 p
{
	color: #444444;
	visibility: inherit;
}

#u121
{
	border-style: solid;
	border-bottom-width: 3px;
	border-color: #E21E79;
	background-color: #444444;
	border-radius: 0px;
}

#u121::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u121:hover
{
	background-color: #EAEAEA;
}

#u121:active
{
	background-color: #EAEAEA;
}

#u124-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u121:hover #u124-4 p
{
	color: #444444;
	visibility: inherit;
}

#u121:active #u124-4 p
{
	color: #444444;
	visibility: inherit;
}

#u100
{
	border-style: solid;
	border-bottom-width: 3px;
	border-color: #8CC63F;
	background-color: #444444;
	border-radius: 0px;
}

#u100::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u100:hover
{
	background-color: #EAEAEA;
}

#u100:active
{
	background-color: #EAEAEA;
}

#u103-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u100:hover #u103-4 p
{
	color: #444444;
	visibility: inherit;
}

#u100:active #u103-4 p
{
	color: #444444;
	visibility: inherit;
}

#u124-3,#u103-3
{
	font-size: 12px;
	letter-spacing: 4px;
	text-align: center;
	color: #FFFFFF;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u3019,#u106,#u120,#u99,#u113
{
	background-color: transparent;
}

#u114
{
	border-style: solid;
	border-bottom-width: 3px;
	border-color: #29ABE2;
	background-color: #444444;
	border-radius: 0px;
}

#u114::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u114:hover
{
	background-color: #EAEAEA;
}

#u114:active
{
	background-color: #EAEAEA;
}

#u109.MuseMenuActive,#u121.MuseMenuActive,#u100.MuseMenuActive,#u114.MuseMenuActive
{
	background-color: #848484;
}

#u117-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u114:hover #u117-4 p
{
	color: #444444;
	visibility: inherit;
}

#u114:active #u117-4 p
{
	color: #444444;
	visibility: inherit;
}

#u109.MuseMenuActive #u111-4 p,#u121.MuseMenuActive #u124-4 p,#u100.MuseMenuActive #u103-4 p,#u114.MuseMenuActive #u117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u111-3,#u117-3
{
	font-size: 12px;
	letter-spacing: 5px;
	text-align: center;
	color: #FFFFFF;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u325-4
{
	background-color: transparent;
	text-align: center;
	color: #000000;
}


