.version.volunteer_opportunities /* version checker */
{
	color: #00001A;
	background-color: #A423ED;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 600px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u1213
{
	z-index: 8;
	min-height: 100px;
	position: fixed;
	top: -62px;
	left: 0px;
	width: 20.84%;
	max-width: 200px;
}

#ppu1227
{
	z-index: 0;
	margin-right: -10000px;
	margin-top: -65px;
	width: 100%;
}

#pu1227
{
	z-index: 2;
	width: 100%;
	left: 0%;
	margin-left: 0%;
}

#u1227
{
	z-index: 2;
	min-height: 163px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1227-bw
{
	z-index: 2;
	min-height: 163px;
	margin-top: 25px;
}

#u1198
{
	z-index: 7;
	width: 60px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 7.3%;
}

#u1474
{
	z-index: 9;
	height: 66px;
	position: relative;
	margin-right: -10000px;
	width: 20.84%;
	left: 21.25%;
}

#u3019
{
	z-index: 10;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	width: 100%;
}

#menuu98
{
	z-index: 35;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	width: 100%;
}

#u106
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
}

#u109
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u109:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u111-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u109:hover #u111-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u120
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 25%;
}

#u121
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u109.MuseMenuActive,#u121:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u121:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u124-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u109.MuseMenuActive #u111-4,#u121:hover #u124-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u121:active #u124-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u99
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 50%;
}

#u100
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u121.MuseMenuActive,#u100:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u100:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u103-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u121.MuseMenuActive #u124-4,#u100:hover #u103-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u100:active #u103-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u113
{
	min-height: 97px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 75%;
}

#u114
{
	padding-bottom: 40px;
	position: relative;
	width: 100%;
}

#u100.MuseMenuActive,#u114:hover
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u114:active
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u114.MuseMenuActive
{
	min-height: 2px;
	width: 100%;
	margin: 0px 0px -2px 0%;
}

#u117-4
{
	min-height: 14px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u100.MuseMenuActive #u103-4,#u114:hover #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u114:active #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u114.MuseMenuActive #u117-4
{
	padding-top: 30px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u111-3,#u124-3,#u103-3,#u117-3
{
	margin-left: 6px;
	margin-right: 6px;
}

#u3180-4
{
	z-index: 12;
	min-height: 35px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	width: 95.32%;
	left: 0%;
	margin-left: 2.4%;
}

#pbuttonu3556
{
	z-index: 61;
	margin-top: 39px;
	width: 32.5%;
	margin-left: 33.75%;
}

#buttonu3556
{
	z-index: 61;
	height: 55px;
	position: relative;
	margin-right: -10000px;
	width: 98.72%;
	margin-left: 0.65%;
	left: -1px;
}

#u3561-4
{
	z-index: 62;
	min-height: 24px;
	width: 99.36%;
}

#pbuttonu3556:hover #u3561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	min-height: 24px;
	width: 99.36%;
	left: 0.33%;
}

#pbuttonu3556 #u3561-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u3557
{
	z-index: 66;
	width: 6.5%;
}

#pbuttonu3556:hover #u3557
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 6.5%;
	left: 47.73%;
}

#u3559
{
	z-index: 68;
	width: 6.5%;
}

#pbuttonu3556:hover #u3559
{
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	min-height: 0px;
	width: 6.5%;
	left: 47.73%;
}

#pbuttonu3562
{
	z-index: 72;
	margin-top: -1px;
	width: 32.5%;
	margin-left: 33.75%;
}

#buttonu3562
{
	z-index: 72;
	height: 55px;
	position: relative;
	margin-right: -10000px;
	width: 98.72%;
	margin-left: 0.65%;
	left: -1px;
}

#pbuttonu3556:hover #buttonu3556,#pbuttonu3562:hover #buttonu3562
{
	height: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.36%;
	margin-left: 0.33%;
	left: 1px;
}

#u3565-4
{
	z-index: 73;
	min-height: 24px;
	width: 99.36%;
}

#pbuttonu3562:hover #u3565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	min-height: 24px;
	width: 99.36%;
	left: 0.33%;
}

#pbuttonu3556.ButtonSelected #u3561-4,#pbuttonu3562.ButtonSelected #u3565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99.36%;
}

#pbuttonu3562 #u3565-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u3566
{
	z-index: 77;
	width: 6.5%;
}

#pbuttonu3562:hover #u3566
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 6.5%;
	left: 47.73%;
}

#pbuttonu3556 #u3557,#pbuttonu3562 #u3566
{
	position: relative;
	margin-right: -10000px;
	left: 47.41%;
}

#u3563
{
	z-index: 79;
	width: 6.5%;
}

#pbuttonu3562:hover #u3563
{
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	min-height: 0px;
	width: 6.5%;
	left: 47.73%;
}

#pbuttonu3556.ButtonSelected #u3557,#pbuttonu3556.ButtonSelected #u3559,#pbuttonu3562.ButtonSelected #u3566,#pbuttonu3562.ButtonSelected #u3563
{
	min-height: 0px;
	width: 6.5%;
}

#pbuttonu3556 #u3559,#pbuttonu3562 #u3563
{
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 47.41%;
}

#u3186
{
	z-index: 16;
	height: 1px;
	border-color: #000000;
	background-color: #BEC3C3;
	margin-top: 165px;
	position: relative;
	width: 100%;
	left: 0%;
	margin-left: 0%;
}

#u3201-18
{
	z-index: 17;
	min-height: 52px;
	background-color: transparent;
	margin-top: 35px;
	position: relative;
	width: 95.32%;
	left: 0%;
	margin-left: 2.3%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 946px);
}

#u325-4
{
	z-index: 3;
	min-height: 25px;
	margin-bottom: -69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	width: 95.94%;
	left: 2.19%;
}

.html
{
	background-color: #F2F2F2;
}

body
{
	position: relative;
	min-width: 200px;
	padding-top: 40px;
	padding-bottom: 100px;
}

.verticalspacer
{
	min-height: 1px;
}

#u3019_img,#u3557_img,#u3559_img,#u3566_img,#u3563_img
{
	width: 100%;
}

